

@font-face {
  font-family: "Exo2.0-Thin";
  src: url("../fonts/Exo2.0-Thin.woff") format("woff"),
  url("../fonts/Exo2.0-Thin.otf") format("otf");
  font-weight: normal;
  font-style: normal;

}